/* @charset */
*{
    margin: 0;
    padding: 0;
}
/* html,body,#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
img{
    border: none;
}